<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacts App</title>
    <script src="/jquery.js"></script>
    <script src="/app.js"></script>
    <script src="/jquery.serializeTojson.js"></script>

  </head>
  <body>
    <div id='loader' style='display: none;'>Loading...</div>
    <div id="content" style="float: right;"></div>
    <table class="people-tbl">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
        </tr>
      </thead>
      <tbody>
        <% people.map(i =>{ %>
        <tr data-person-id="<%= i.id%>">
          <td><%= i.firstname %></td>
          <td><%= i.lastname %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <a href="javascript:" class="new-contact-btn" >Add new Contact</a>
  </body>
</html>
